<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netcenter.zaascy.dao.DepartMapper" >
  <resultMap id="BaseResultMap" type="com.netcenter.zaascy.bean.Depart" >
    <constructor >
      <idArg column="DANW_ID" jdbcType="NUMERIC" javaType="java.math.BigDecimal" />
      <arg column="DANWBH" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DANWMC" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="JIGBZDM" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DANWJC" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SHIFWXCDW" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DANWDH" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SHUOM" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="BEIZ" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SHIFWDJG" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SHIFWXTKYDW" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="JILCJZ" jdbcType="NUMERIC" javaType="java.math.BigDecimal" />
      <arg column="JILCJSJ" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="JILXGZ" jdbcType="NUMERIC" javaType="java.math.BigDecimal" />
      <arg column="JILXGSJ" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="PAIXH" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="selectResultMap" type="com.netcenter.zaascy.bean.Depart" >
    <constructor >
      <idArg column="DANW_ID" jdbcType="NUMERIC" javaType="java.math.BigDecimal" />
      <arg column="DANWBH" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DANWMC" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DANWJC" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <select id="getAll" resultMap="selectResultMap">
    SELECT DANW_ID, DANWBH, DANWJC, DANWMC FROM DW
    WHERE SHIFWXCDW = 'Y' and SHIFWXTKYDW = 'Y'
  </select>

  <select id="getAllInstitute" resultMap="selectResultMap">
    SELECT DANW_ID, DANWBH, DANWJC, DANWMC FROM DW
    WHERE SHIFWXCDW = 'Y' and SHIFWXTKYDW = 'Y'  AND DANWBH LIKE 'R%'
  </select>

  <select id="getDepartNumById" resultType="String">
    SELECT DANWBH FROM DW WHERE DANW_ID = #{departId} AND SHIFWXCDW = 'Y' and SHIFWXTKYDW = 'Y'
  </select>

  <select id="getDepartFullNameById" resultType="String">
    SELECT DANWMC FROM DW WHERE DANW_ID = #{departId} AND SHIFWXCDW = 'Y' and SHIFWXTKYDW = 'Y'
  </select>

  <select id="getDepartNameById" resultType="String">
    SELECT DANWJC FROM DW WHERE DANW_ID = #{departId} AND SHIFWXCDW = 'Y' and SHIFWXTKYDW = 'Y'
  </select>
</mapper>