<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netcenter.zaascy.dao.ModuleMapper" >
  <resultMap id="BaseResultMap" type="com.netcenter.zaascy.bean.Module" >
    <constructor >
      <idArg column="MOK_ID" jdbcType="NUMERIC" javaType="java.math.BigDecimal" />
      <arg column="MOKMC" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DANW_ID" jdbcType="NUMERIC" javaType="java.math.BigDecimal" />
      <arg column="MOKLJ" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MOKZT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="FUMKID" jdbcType="NUMERIC" javaType="java.math.BigDecimal" />
      <arg column="SHUOM" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="BEIZ" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="JILCJZ" jdbcType="NUMERIC" javaType="java.math.BigDecimal" />
      <arg column="JILCJSJ" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="JILXGZ" jdbcType="NUMERIC" javaType="java.math.BigDecimal" />
      <arg column="JILXGSJ" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="TIJR_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SHENGHR_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="JIAOYR_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <select id="getSubmitors" resultType="String">
    SELECT TIJR_ID FROM XTMK WHERE MOKZT = 'Y' AND MOK_ID = #{moduleId}
  </select>

  <select id="getAssessors" resultType="String">
    SELECT SHENGHR_ID FROM XTMK WHERE MOKZT = 'Y' AND MOK_ID = #{moduleId}
  </select>
</mapper>