<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netcenter.zaascy.dao.RoleRelationMapper" >
  <resultMap id="BaseResultMap" type="com.netcenter.zaascy.bean.RoleRelationKey" >
    <constructor >
      <idArg column="YONGH_ID" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="JUES_ID" jdbcType="NUMERIC" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <select id="getRelosByUserId" resultMap="BaseResultMap">
    SELECT * FROM XTYH_JS WHERE (JUES_ID = 1 OR JUES_ID = 33) AND YONGH_ID = #{userId}
  </select>
</mapper>