<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netcenter.zaascy.dao.TradeSubsidiaryMapper">
  <resultMap id="BaseResultMap" type="com.netcenter.zaascy.bean.TradeSubsidiary">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="INTEGER" />
      <arg column="project_id" javaType="java.lang.Long" jdbcType="NUMERIC" />
      <arg column="zaas_tech_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="zaas_tech_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="zaas_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="operator" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="operator_id" javaType="java.lang.Long" jdbcType="NUMERIC" />
      <arg column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="modify_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, project_id, zaas_tech_type, zaas_tech_title, zaas_code, operator, operator_id, create_date, modify_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from CY_CGZHJY_CB
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from CY_CGZHJY_CB
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.netcenter.zaascy.bean.TradeSubsidiary" keyProperty="id" useGeneratedKeys="true">
    insert into CY_CGZHJY_CB (project_id, zaas_tech_type,zaas_tech_title, zaas_code,
      operator, operator_id, create_date, 
      modify_date)
    values (#{projectId,jdbcType=NUMERIC}, #{zaasTechType,jdbcType=VARCHAR},#{zaasTechTitle,jdbcType=VARCHAR}, #{zaasCode,jdbcType=VARCHAR},
      #{operator,jdbcType=VARCHAR}, #{operatorId,jdbcType=NUMERIC}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.netcenter.zaascy.bean.TradeSubsidiary" keyProperty="id" useGeneratedKeys="true">
    insert into CY_CGZHJY_CB
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        project_id,
      </if>
      <if test="zaasTechType != null">
        zaas_tech_type,
      </if>
      <if test="zaasTechTitle != null">
        zaas_tech_title,
      </if>
      <if test="zaasCode != null">
        zaas_code,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId,jdbcType=NUMERIC},
      </if>
      <if test="zaasTechType != null">
        #{zaasTechType,jdbcType=VARCHAR},
      </if>
      <if test="zaasTechTitle != null">
        #{zaasTechTitle,jdbcType=VARCHAR},
      </if>
      <if test="zaasCode != null">
        #{zaasCode,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=NUMERIC},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.netcenter.zaascy.bean.TradeSubsidiary">
    update CY_CGZHJY_CB
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=NUMERIC},
      </if>
      <if test="zaasTechType != null">
        zaas_tech_type = #{zaasTechType,jdbcType=VARCHAR},
      </if>
      <if test="zaasTechType != null">
        zaas_tech_title = #{zaasTechTitle,jdbcType=VARCHAR},
      </if>
      <if test="zaasCode != null">
        zaas_code = #{zaasCode,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=NUMERIC},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netcenter.zaascy.bean.TradeSubsidiary" >
    update CY_CGZHJY_CB
    set project_id = #{projectId,jdbcType=NUMERIC},
      zaas_tech_type = #{zaasTechType,jdbcType=VARCHAR},
      zaas_tech_title = #{zaasTechTitle,jdbcType=VARCHAR},
      zaas_code = #{zaasCode,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      operator_id = #{operatorId,jdbcType=NUMERIC},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getSubsidiaryListByProjectId" resultMap="BaseResultMap">
      SELECT * FROM CY_CGZHJY_CB WHERE project_id = #{projectId}
  </select>

  <delete id="delSubsidiaryByProjectId">
    DELETE FROM CY_CGZHJY_CB WHERE project_id = #{projectId}
  </delete>

  <select id="getSubsidiaryCountByProjectId" resultType="Integer">
    SELECT COUNT(*) FROM CY_CGZHJY_CB
    WHERE project_id = #{projectId}
  </select>
</mapper>