<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netcenter.zaascy.dao.TradeMemberMapper" >
  <resultMap id="BaseResultMap" type="com.netcenter.zaascy.bean.TradeMember" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Long" />
      <arg column="project_id" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="depart_id" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="depart" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_staff" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="rank_number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="role" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modify_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="operator_id" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="operator" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_id, depart_id, depart, is_staff, rank_number, role, user_id, name, create_date,
    modify_date, operator_id, operator
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from CY_CGZHJY_CYB
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from CY_CGZHJY_CYB
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.netcenter.zaascy.bean.TradeMember" keyProperty="id" useGeneratedKeys="true">
    insert into CY_CGZHJY_CYB (project_id, depart_id, depart,
    is_staff, rank_number, role,
      user_id, name, create_date, 
      modify_date, operator_id, operator
      )
    values (#{projectId,jdbcType=NUMERIC}, #{departId,jdbcType=NUMERIC}, #{depart,jdbcType=VARCHAR}, 
      #{isStaff,jdbcType=INTEGER}, #{rankNumber,jdbcType=INTEGER}, #{role,jdbcType=VARCHAR},
      #{userId,jdbcType=NUMERIC}, #{name,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifyDate,jdbcType=TIMESTAMP}, #{operatorId,jdbcType=NUMERIC}, #{operator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.netcenter.zaascy.bean.TradeMember" keyProperty="id" useGeneratedKeys="true">
    insert into CY_CGZHJY_CYB
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="departId != null" >
        depart_id,
      </if>
      <if test="depart != null" >
        depart,
      </if>
      <if test="isStaff != null" >
        is_staff,
      </if>
      <if test="rankNumber != null" >
        rank_number,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="operator != null" >
        operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=NUMERIC},
      </if>
      <if test="departId != null" >
        #{departId,jdbcType=NUMERIC},
      </if>
      <if test="depart != null" >
        #{depart,jdbcType=VARCHAR},
      </if>
      <if test="isStaff != null" >
        #{isStaff,jdbcType=INTEGER},
      </if>
      <if test="rankNumber != null" >
        #{rankNumber,jdbcType=INTEGER},
      </if>
      <if test="role != null" >
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=NUMERIC},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=NUMERIC},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.netcenter.zaascy.bean.TradeMember" >
    update CY_CGZHJY_CYB
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=NUMERIC},
      </if>
      <if test="departId != null" >
        depart_id = #{departId,jdbcType=NUMERIC},
      </if>
      <if test="depart != null" >
        depart = #{depart,jdbcType=VARCHAR},
      </if>
      <if test="isStaff != null" >
        is_staff = #{isStaff,jdbcType=INTEGER},
      </if>
      <if test="rankNumber != null" >
        rank_number = #{rankNumber,jdbcType=INTEGER},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=NUMERIC},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=NUMERIC},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netcenter.zaascy.bean.TradeMember" >
    update CY_CGZHJY_CYB
    set project_id = #{projectId,jdbcType=NUMERIC},
      depart_id = #{departId,jdbcType=NUMERIC},
      depart = #{depart,jdbcType=VARCHAR},
      is_staff = #{isStaff,jdbcType=INTEGER},
      rank_number = #{rankNumber,jdbcType=INTEGER},
      role = #{role,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=NUMERIC},
      name = #{name,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      operator_id = #{operatorId,jdbcType=NUMERIC},
      operator = #{operator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByProjectId" resultMap="BaseResultMap">
    SELECT * FROM CY_CGZHJY_CYB WHERE project_id = #{projectId} ORDER BY rank_number
  </select>
  <delete id="deleteByProjectId">
    DELETE FROM CY_CGZHJY_CYB WHERE project_id = #{projectId}
  </delete>

  <select id="getProjectNumById" resultType="String">
    SELECT CY_CGZHJY.project_num FROM CY_CGZHJY_CYB LEFT OUTER JOIN CY_CGZHJY ON CY_CGZHJY.id = CY_CGZHJY_CYB.project_id
    WHERE CY_CGZHJY_CYB.id = #{id}
  </select>

  <select id="getMembersCountByProjectId" resultType="Integer">
    SELECT COUNT(*) FROM CY_CGZHJY_CYB
    WHERE project_id = #{projectId}
  </select>

  <select id="getProjectCountByUserId" resultType="Integer">
    SELECT count(project_id) FROM CY_CGZHJY_CYB WHERE user_id = #{userId}
  </select>
</mapper>