<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netcenter.zaascy.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.netcenter.zaascy.bean.User" >
    <constructor >
      <idArg column="YONGH_ID" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="DENGLM" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MIM" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="XITMK" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="RENY_ID" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="JILCJZ" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="JILCJSJ" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="JILXGZ" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="JILXGSJ" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="boshih_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="yanjius_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="linshiry_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="laowupqry_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="shenhezt" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="reny_lx" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="shenfenz" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="xingm" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TIJZT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SHENHZT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="JIAOYZT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TIJR" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SHENHR" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="JIAOYR" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TIJR_ID" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="SHENHR_ID" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="JIAOYR_ID" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="zhaop" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shifouyx" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="youxiaoq" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="shouj" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="danw_id" jdbcType="NUMERIC" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <resultMap id="listResultMap" type="com.netcenter.zaascy.bean.User" >
    <constructor >
      <idArg column="YONGH_ID" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="xingm" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    YONGH_ID, DENGLM, MIM, XITMK, RENY_ID, JILCJZ, JILCJSJ, JILXGZ, JILXGSJ, boshih_id, 
    yanjius_id, linshiry_id, laowupqry_id, shenhezt, reny_lx, shenfenz, xingm, TIJZT, 
    SHENHZT, JIAOYZT, TIJR, SHENHR, JIAOYR, TIJR_ID, SHENHR_ID, JIAOYR_ID, zhaop, shifouyx, 
    youxiaoq, shouj, email, danw_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from XTYH
    where YONGH_ID = #{yonghId,jdbcType=NUMERIC}
  </select>

  <select id="findPasswordByLoginname" resultType="String">
    SELECT MIM FROM XTYH WHERE DENGLM = #{username} AND shifouyx = 1
  </select>

  <select id="getUserByUsername" resultMap="BaseResultMap">
    SELECT * FROM XTYH WHERE DENGLM = #{username} AND MIM = #{password} AND shifouyx = 1
  </select>

  <select id="getUserByDepartId" resultMap="listResultMap">
    SELECT XTYH.YONGH_ID,XTYH.xingm
    FROM XTYH LEFT OUTER JOIN RYK_RYJBXX ON XTYH.RENY_ID = RYK_RYJBXX.RENY_ID
    WHERE XTYH.danw_id = #{departId} AND XTYH.shifouyx = 1 AND XTYH.reny_lx = 1
    ORDER BY RYK_RYJBXX.PAIXH,RYK_RYJBXX.XINGM
  </select>

  <select id="getUserByDepartIdAndPersonType" resultMap="listResultMap">
    SELECT YONGH_ID,xingm  FROM XTYH WHERE danw_id = #{departId} AND shifouyx = 1 AND reny_lx = #{personType} ORDER BY xingm
  </select>

  <select id="getOneColumnById" resultType="String">
    SELECT ${columnName} FROM XTYH where ${columnKeyName} = #{id}
  </select>
</mapper>